/*
	Copyright © Eleanor CMS
	URL: http://eleanor-cms.ru, http://eleanor-cms.com
	E-mail: support@eleanor-cms.ru
	Developing: Alexander Sunvas*
	Interface: Rumin Sergey (http://centroarts.com)
	=====
	*Pseudonym
*/

/* Quotes */
blockquote { margin: .4em 0; color: #686868; border: 2px solid #e0e0e0; background: #fcfcfc; padding: 10px 15px; border-radius: 4px }
	blockquote[title]:after { color: #b6b6b6; padding-top: .4em; content: attr(title); display: block; font-size: .85em }

/* bCalendar */
.calhead { padding: 12px 15px }
	.calhead:after, .month-sel:after { clear: both; content: "."; display: block; height: 0; visibility: hidden }
	.calhead b, .m-prev { float: left }
	.year-sel, .m-next { float: right }
	.year-sel a { margin-left: 6px; float: left; padding-top: 18px; width: 18px; background-image: url("../images/cal-arrows.png"); background-color: #f7f7f6; border: 1px solid #d7d7d7; border-radius: 10px; box-shadow: 0 1px 2px 0 rgba(0,0,0, 0.1); }
	.year-sel a:hover { box-shadow: 0 1px 8px 0 rgba(0,0,0, 0.1); border-color: #9d9d9d }
	.year-sel a:active { box-shadow: inset 0 1px 3px 0 rgba(0,0,0, 0.2); border-color: #9d9d9d }
	.y-prev { background-position: 0 0 }
	.y-prev:hover { background-position: 0 -18px }
	.y-next { background-position: -18px 0 }
	.y-next:hover { background-position: -18px -18px }

	.bcalendar table { width: 100%; text-align: center }
	.bcalendar td { border: 1px solid #e4e4e4; border-width: 0 0 1px 1px; padding: 4px 2px }
		.bcalendar tr td:first-child { border-left-width: 0 }

	tr.c_days td { border-left-width: 0; background: url("../images/topmenu.png") repeat-x 0 2px; font-weight: bold; color: #727272; padding: 2px 2px }
	.vday { color: #c45547; }
	.bcalendar td.today { background-color: #fbfbfb; box-shadow: inset 0 0 5px 0 rgba(0,0,0, 0.2) }
	.month-sel { background: url("../images/topmenu.png") repeat-x 0 2px; padding: 5px 15px; border-bottom: 1px solid #e4e4e4 }
	.month-sel, tr.c_days td, .calnews-all { font-size: .85em }
	.calnews-all { padding: 4px 0 2px 0; text-align: center }

.archives { padding: 15px 15px }

/* Rate */
.rate-bt { line-height: 15px; border-radius: 10px; height: 16px; float: right; padding: 2px; box-shadow: inset 0 1px 4px 0 #b6b6b6, 0 1px 0 0 #fff }
	.rate-bt * { float: left }
	.rt-num { padding: 0 5px;  }
	.rate-bt-up .rt-num { color: #8fbc59 }
	.rate-bt-down .rt-num { color: #c45547 }
	.rt-line { margin-top: 4px; width: 75px; height: 8px; background: #c45547; }
	.rt-line b { padding-top: 8px; background: #8fbc59; }
	.rt-line, .rt-line b { border-radius: 4px }
	.rt-line, .rt-bt-min, .rt-bt-pls { margin-left: 4px }
	.rt-bt-min b, .rt-bt-pls b { padding-top: 14px; width: 14px; border-radius: 8px; background: #fff url("../images/rate-bt.png") no-repeat; border: 1px solid #cacaca; box-shadow: 0 1px 2px 0 rgba(0,0,0, 0.1) }
	a.rt-bt-min:hover b, a.rt-bt-pls:hover b { box-shadow: 0 1px 8px 0 rgba(0,0,0, 0.1); border-color: #999 }
	.rt-bt-min b { background-position: 0 0 }
	.rt-bt-pls b { background-position: -14px 0 }
	a.rt-bt-min:hover b { background-position: 0 -14px }
	a.rt-bt-pls:hover b { background-position: -14px -14px }
	a.rt-bt-min:active, a.rt-bt-pls:active { opacity: 0.4; margin-top: 1px }

/* jQuery UI */
.ui-widget-overlay { background: #000; opacity:0.7; left: 0; position: absolute; top: 0 }
	.ui-helper-clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden }
	.ui-helper-clearfix { display: inline-block }
	* html .ui-helper-clearfix { height: 1% }
	.ui-helper-clearfix { display: block }

	.ui-dialog { border-radius: 12px; border: 1px solid #dfdfdf; background: #fff; overflow: hidden; padding: 0; position: absolute; width: 300px; box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.3) }
	.ui-dialog-titlebar { padding: 14px 20px 15px 20px; border-bottom: 1px solid #ebebeb; background: url("../images/fbuttons.png") repeat-x 0 100% }
	.ui-dialog-title { float: left; font-size: 1.4em; color: #444; }
	.ui-icon-closethick { border-radius: 11px; cursor: pointer; margin-top: 5px; float: right; padding-top: 21px; width: 21px; background: #f4f4f4 url("../images/close.png") no-repeat 50% 50% }
	a:hover .ui-icon-closethick { box-shadow: 0 1px 5px 0 rgba(0,0,0, 0.2) }

	.ui-dialog .ui-dialog-content { padding: 20px; background: none; border: 0; overflow: hidden; position: relative; zoom: 1 }
	.ui-dialog .ui-dialog-buttonpane { padding: 15px 20px; text-align: center }
	.ui-button { font-size: 13px; margin: 0 2px 2px 2px }

	button.ui-button span { cursor: pointer; display: block }

	.ui-dialog .ui-resizable-se { bottom: 3px; height: 14px; right: 3px; width: 14px }
	.ui-draggable .ui-dialog-titlebar { cursor: move }

/* Forms */
input, select, textarea { color: #8c8c8c; padding: 6px; background: #f4f4f4; border: 1px solid #cecece; border-radius: 3px; box-shadow: inset 0 1px 2px 0 #dbdbdb, 0 1px 0 0 #fff }
	input, textarea { margin: 0; padding: 7px; resize: vertical }
	input:focus, select:focus, textarea:focus { color: #3c3c3c; background: #fff; border-color: #9b9b9b }

	.checkbox { color: #787878; font-size: .9em; padding: 4px 0; line-height: 1em }
	.checkbox input { margin-top: -2px; vertical-align: middle }

/* BB-Editor */
.editor {}
	.editor a, .bb_sep { overflow: hidden; display: block; height: 0; line-height: normal }
	.editor a, .editor a .thd { background-image: url("../images/bb/bbeditor.png") }
	.editor a { font-size: .85em; color: #2b2b2b; box-shadow: 0 1px 0 0 #fff; text-decoration: none; width: 22px; padding-top: 22px; margin-right: 1px; border-radius: 4px; border: 1px solid #cecece; float: left }
	.editor a:hover { background-color: #fff; border-color: #9b9b9b; box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.2) }
	.editor a:active { background-color: #f0f0f0; border-color: #9b9b9b; box-shadow: inset 0 2px 5px 0 rgba(0,0,0, 0.2), 0 1px 0 0 #fff }
	.editor-text { padding-right: 16px }
	.editor-text textarea { display: block; border-radius: 0; width: 100%; font-family: monospace,"Courier New" }

	.bb_tpanel, .bb_fpanel { height: 1%; padding: 4px; border-radius: 4px; border: 1px solid #cecece;
		background: #fff; /* Для старых браузров */
		background: -moz-linear-gradient(top, #fff, #f0f0f0); /* Firefox 3.6+ */
		background: -webkit-linear-gradient(top, #fff, #f0f0f0); /* Chrome 10+, Safari 5.1+ */
		background: -o-linear-gradient(top, #fff, #f0f0f0); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #fff, #f0f0f0); /* IE10 */
		background: linear-gradient(top, #fff, #f0f0f0); /* CSS3 */
	}

	.bb_tpanel { border-bottom-left-radius: 0; border-bottom-right-radius: 0 }
	.bb_fpanel { border-top-left-radius: 0; border-top-right-radius: 0 }

	.bb_bold { background-position: 0 0 }
	.bb_italic { background-position: -22px 0 }
	.bb_uline { background-position: -44px 0 }
	.bb_strike { background-position: -66px 0 }
	.bb_right { background-position: -88px 0 }
	.bb_center { background-position: -110px 0 }
	.bb_left { background-position: -132px 0 }
	.bb_justify { background-position: -154px 0 }
	.bb_url { background-position: -176px 0 }
	.bb_mail { background-position: -220px 0 }
	.bb_img { background-position: -198px -22px }
	.bb_hr { background-position: -198px 0 }
	.bb_ul { background-position: -242px 0 }
	.bb_ol { background-position: -264px 0 }
	.bb_li { background-position: -286px 0 }
	.bb_plus { background-position: -330px 0 }
	.bb_minus { background-position: -308px 0 }

	.bb_script { background-position: -66px -22px }
	.bb_php { background-position: -88px -22px }
	.bb_html { background-position: -110px -22px }
	.bb_code, .bb_csel { background-position: -44px -22px }
	.bb_quote { background-position: -154px -22px }
	.bb_hide { background-position: -176px -22px }
	.bb_onlinevideo { background-position: -132px -22px }
	.bb_smiles { background-position: -220px -22px }
	.bb_preview { background-position: -22px -22px }
	.bb_spoiler { background-position: 0 -22px }

	.editor .bb_separator { padding: 0 4px; height: 22px; line-height: 22px; background-image: none; width: auto }
	/* .bb_separator .thd { padding-top: 22px; margin-right: 4px; width: 22px; float: left; background-position: 0 -22px } */

	.bb_sep { float: left; padding-top: 24px; width: 7px; background-position: -120px -538px }

	.bb_rpanel { float: right }
	.bb_rpanel a { margin: 0 0 0 1px }

div.smiles { border: 1px solid #cccccc; background-color: #f0f0f0; width: 179px; height: 200px; overflow: auto; position:absolute; display:none; }
div.smiles a { float: left; width: 51px; height: 42px; padding:0; }