#Options All -ExecCGI -Indexes -Includes +FollowSymLinks
AddDefaultCharset UTF-8
DirectoryIndex index.php
ServerSignature Off

#Bad Rquest
ErrorDocument 400 {full_}errors/400
#Authorization Required
ErrorDocument 401 {full_}errors/401
#Forbidden
ErrorDocument 403 {full_}errors/403
#Not found
#ErrorDocument 404 {full_}errors/404
#Method Not Allowed
ErrorDocument 405 {full_}errors/405
#Request Timed Out
ErrorDocument 408 {full_}errors/408
#Request URI Too Long
ErrorDocument 414 {full_}errors/414
#Internal Server Error
ErrorDocument 500 {full_}errors/500
#Not Implemented
ErrorDocument 501 {full_}errors/501
#Bad Gateway
ErrorDocument 502 {full_}errors/502
#Service Unavailable
ErrorDocument 503 {full_}errors/503
#Gateway Timeout
ErrorDocument 504 {full_}errors/504

<IfModule mod_rewrite.c>
	RewriteEngine On

	#Редиректы с themes.php и index.html
	RewriteCond %{THE_REQUEST} ^GET\ .*/index\.(php|html?)\ HTTP
	RewriteRule ^index\.(php|html?)$ {full} [R=301,L]

	#Редирект для чужих доменов
	RewriteCond %{HTTP_HOST} !^{shost}$
	RewriteRule ^(.*)$ {full_}$1 [R=301,L]

	#Правила для скачивания: отдаем любой контент только через скрипт
	#НЕ УДАЛЯЙТЕ И НЕ КОММЕНТИРУЙТЕ СТРОКУ НИЖЕ!!!! ЭТО ЧРЕВАТО ВЗЛОМОМ!!!
	RewriteCond %{REQUEST_URI} !\.(css|js|jpe?g|gif|png|bmp)$
	RewriteRule ^uploads/(.*)$ download.php?download=$1 [L]

	#Если запрашиваемый ресурс не папка и не файл - это ЧПУ
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	#Если файл - картинка. Нафик надо сообщать об этом системе... Это ж целую страницу придется генерить из-за случайной глупости, что тяжело для сервера...
	RewriteCond %{REQUEST_URI} !\.(css|js|jpe?g|gif|png|bmp)$
	RewriteRule ^(.*)$ index.php?!$1!&%{QUERY_STRING} [L]
</IfModule>